@using WebLabsAsp.Areas.Admin.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Car

@{
    ViewData["Title"] = "Create";

    var groups = (SelectList)ViewData["groups"];
    var input = ViewData["Input"] as CarController.InputModel;
}

<br/>
<div class="col-md-12 text-center">
    <h1>Create new car</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-6" style="float:none;margin:auto;">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control"/>
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="@input.ImageUpload.FormFile" type="file" accept="image/*" class="form-control"/>
                    <span asp-validation-for="@input.ImageUpload.FormFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarGroupId"></label>
                    <select asp-for="CarGroupId" class="form-control" asp-items="@groups"></select>
                    <span asp-validation-for="CarGroupId" class="text-danger"></span>
                </div>
                <div>
                    <div class="form-group" style="display: inline-block; margin-right:30px">
                        <input type="submit" value="Создать" class="btn btn-primary"/>
                    </div>
                    <div style="display: inline-block;">
                        <a asp-action="Index">Вернуться назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>